
<form id="fm" method="post" data-options="novalidate:true">
    {% comment "Optional note1" %}
    {% for field  in form %}

    <div style="margin-bottom:20px">
        <label for="{{ field.id_for_label }}"  >{{ field.label|upper  }}:  </label>{{  field }}
    </div>
    {% endfor %}
    {% endcomment %}

    <table id="edittalbe" cellpadding="5" style="width:100%;max-width:400px" class="td">
        {% for field  in form.visible_fields  %}
        <tr >
            <td style="width:20%;float:left" >
                <label for="{{ field.id_for_label }}"  >{{ field.label|upper  }}:  </label>
            </td>
            <td style="float:left" >
                {{  field }}
            </td>
        </tr>
        {% endfor %}
        {% block custom_field %}
        {% endblock %}

    </table>
    <style scoped="scoped">
    	.td{
    	    white-space:nowrap;
    	}
		.tb{
			width:100%;
			margin:0;
			padding:5px 4px;
			border:1px solid #ccc;
			box-sizing:border-box;
		}
	</style>
    {% block diag %}
    {% endblock %}
    <script Language=JavaScript>
        $.extend($.fn.validatebox.defaults.rules, {
        ipaddress: {
            validator: function(value){
                var reg = /^((1?\d?\d|(2([0-4]\d|5[0-5])))\.){3}(1?\d?\d|(2([0-4]\d|5[0-5])))$/ ;
                return reg.test(value);
            },
            message: 'Please enter valid ip address.'
        },
        phone:{
            validator: function(value){
                var reg = /^1[3|4|5|8|9]\d{9}$/;
                return reg.test(value);
            },
            message: 'Please enter valid phone number.'
        },

        });

    </script>
{% block formscript %}
{% endblock %}
</form>
