{% extends 'iframe.html' %}
{% block getlist %}
<script Language=JavaScript>
	$('#dg').datagrid({
    url:'{{ url.objlist }}',
    {% block datagridcolumns %}
    columns:[[
            {%  for field in form.visible_fields %}
                {field:'{{ field.html_name  }}',title:'{{ field.label  }}',width:100
                    {% block columnsstyle %}
                    {% endblock %}
                },
            {% endfor %}
    ]],
    {% endblock %}
    queryParams:{csrfmiddlewaretoken:'{{ csrf_token }}'},
    rownumbers:true,
    nowrap: false,
    idField:'pk',
    pagination:true,
    pageSize:10,
    pageList:[10,20,50],
    striped : true,
    singleSelect:true,
    fitColumns:true,
    loadMsg:'正在请求数据',
    toolbar:'#tb',
	onDblClickRow:function (rowIndex, rowData) {
	    var selectedRow = $(this).datagrid('getSelected');
	    $('#hisdg').datagrid({
            url:'{{ url.historyurl }}',
            columns:[[
                {field:'time',title:'修改时间',width:60,
                },
                {field:'context',title:'修改内容',width:200},
            ]],
            queryParams:{csrfmiddlewaretoken:'{{ csrf_token }}',pk:rowData.pk},
            rownumbers:true,
            nowrap: false,
            idField:'pk',
            pagination:true,
            pageSize:5,
            fit:true,
            pageList:[5,10,20,50],
            striped : true,
            singleSelect:true,
            fitColumns:true,
            loadMsg:'正在请求数据',

        });
        $('#his').dialog('open');
	},
});

</script>
{% endblock %}