
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全运维部管理终端</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/icon.css' %}">
	<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.easyui.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/datagrid-detailview.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/echarts.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/highcharts.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/highcharts-3d.js' %}"></script>


</head>
<body class="easyui-layout" >
	<div data-options="region:'north' ,border:false" style="height:80px;background:#B3DFDA;padding:10px">
		<div>
			<h1 href="#"  style="font-family:arial;color:#000066;font-size:20px;" >
				安全运维部管理平台
			</h1>
		</div>
	</div>
	<div data-options="region:'west',split:true,title:'West'" style="width:12%;padding:10px;">
		<div class="easyui-accordion" data-options="fit:false,border:false">
				<div title="人员信息管理" data-options="selected:false" style="padding:10px;">
                    <ul class="easyui-tree">
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('员工','{% url 'staff' %}')"> 员工</a>
							</span>
						</li>
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('部门','{% url 'department' %}')"> 部门</a>
							</span>
						</li>

                  </ul>
				</div>
				<div title="资产管理"  style="padding:10px;">
                    <ul class="easyui-tree">
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('状态管理','{% url 'status' %}')"> 状态管理</a>
							</span>
						</li>
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('区域管理','{% url 'zone' %}')"> 区域管理</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('操作系统','{% url 'os' %}')"> 操作系统</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('品牌管理','{% url 'manufacturer' %}')"> 品牌管理</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('服务器管理','{% url 'servers' %}')"> 服务器管理</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('计算机主机管理','{% url 'computer' %}')"> 计算机主机管理</a>
							</span>
						</li>
                  </ul>
				</div>
				<div title="任务管理" style="padding:10px">
					content3
				</div>
		</div>
	</div>
	<div data-options="region:'center'">
		<div class="easyui-layout" data-options="fit:true">
			<div data-options="region:'east',collapsed:true,title:'West'" style="width:30%">
				<div>

				</div>
			</div>
			<div data-options="region:'center'">
				<div id="tt" class="easyui-tabs"  style="width:100%;height:100%;" >
					<div title="状态" style="padding:10px">
						<div id="main" style="width: 30%;height:30%;float:left;"></div>
						<div id="container" style="width:30%; height:30%;float:left;"></div>
						<div id="pie2" style="width:30%; height:30%;float:left;"></div>
						<script type="text/javascript">
							// 基于准备好的dom，初始化echarts实例
							$(function () {
								var myChart1 = echarts.init(document.getElementById('main'));
								// 指定图表的配置项和数据
								var option1 = {
									title: {
										text: '资产类型统计'
									},
									tooltip: {},
									legend: {
										data:['数量']
									},
									xAxis: {
										data: ["PC主机","服务器","显示器","LUNA","其他"]
									},
									yAxis: {},
									series: [{
										name: '数量',
										type: 'bar',
										data: [5, 20, 36, 10,  20]
									}]
								};

								// 使用刚指定的配置项和数据显示图表。
								myChart1.setOption(option1);
							});
							$(function () {
								var myChart2 = echarts.init(document.getElementById('pie2'));
								var option2 = {
									title : {
										text: '服务器状态',
										subtext: '纯属虚构',
										x:'center'
									},
									tooltip : {
										trigger: 'item',
										formatter: "{a} <br/>{b} : {c} ({d}%)"
									},
									legend: {
										orient: 'vertical',
										left: 'left',
										data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
									},
									series : [
										{
											name: '访问来源',
											type: 'pie',
											radius : '55%',
											center: ['50%', '60%'],
											data:[
												{value:335, name:'直接访问'},
												{value:310, name:'邮件营销'},
												{value:234, name:'联盟广告'},
												{value:135, name:'视频广告'},
												{value:1548, name:'搜索引擎'}
											],
											itemStyle: {
												emphasis: {
													shadowBlur: 10,
													shadowOffsetX: 0,
													shadowColor: 'rgba(0, 0, 0, 0.5)'
												}
											}
										}
									]
								};
								myChart2.setOption(option2);
							});


							$(function () {
								Highcharts.chart('container', {
									chart: {
										type: 'pie',
										options3d: {
											enabled: true,
											alpha: 45,
											beta: 0
										}
									},
									title: {
										text: '服务器状态'
									},
									tooltip: {
										pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
									},
									plotOptions: {
										pie: {
											allowPointSelect: true,
											cursor: 'pointer',
											depth: 35,
											dataLabels: {
												enabled: true,
												format: '{point.name}'
											}
										}
									},
									series: [{
										type: 'pie',
										name: 'Browser share',
										data: [
											['运行', 45.0],
											{
												name: '关机',
												y: 12.8,
												sliced: true,
												selected: true
											},
											['异常', 8.5],
											['其他', 6.9],

										]
									}]
								});
							});
						</script>
					</div>
				</div>
			</div>

		</div>

    </div>
<script Language=JavaScript>
function addTab(title,url){
	if ($('#tt').tabs('exists', title)){
		$('#tt').tabs('select', title);
	} else {

		var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;" ></iframe>';

		$('#tt').tabs('add',{
			title:title,
			content:content,
			closable:true
		});
	};
};
</script>
</body>
</html>