
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全运维部管理终端</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/icon.css' %}">
	<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.easyui.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/datagrid-detailview.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/echarts.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/highcharts.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/highcharts-3d.js' %}"></script>


</head>
<body class="easyui-layout" >
	<div data-options="region:'north' ,border:false" style="height:80px;background:#B3DFDA;padding:10px">
		<div>
			<h1 href="#"  style="font-family:arial;color:#000066;font-size:20px;" >
				安全运维部管理平台
			</h1>
		</div>
	</div>
	<div data-options="region:'west',split:true,title:'West'" style="width:12%;padding:10px;">
		<div class="easyui-accordion" data-options="fit:false,border:false">
				<div title="人员信息管理" data-options="selected:false" style="padding:10px;">
                    <ul class="easyui-tree">
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('员工','{% url 'staff' %}')"> 员工</a>
							</span>
						</li>
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('部门','{% url 'department' %}')"> 部门</a>
							</span>
						</li>

                  </ul>
				</div>
				<div title="资产管理"  style="padding:10px;">
                    <ul class="easyui-tree">
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('状态管理','{% url 'status' %}')"> 状态管理</a>
							</span>
						</li>
					    <li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('区域管理','{% url 'zone' %}')"> 区域管理</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('操作系统','{% url 'os' %}')"> 操作系统</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('品牌管理','{% url 'manufacturer' %}')"> 品牌管理</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('服务器管理','{% url 'servers' %}')"> 服务器管理</a>
							</span>
						</li>
						<li>
							<span>
								<a href="#" class="easyui-linkbutton" onclick="addTab('计算机主机管理','{% url 'computer' %}')"> 计算机主机管理</a>
							</span>
						</li>
                  </ul>
				</div>
				<div title="任务管理" style="padding:10px">
					content3
				</div>
		</div>
	</div>
	<div data-options="region:'center'">
		<div class="easyui-layout" data-options="fit:true">
			<div data-options="region:'east',collapsed:true,title:'West'" style="width:30%">
				<div>

				</div>
			</div>
			<div data-options="region:'center'">
				<div id="tt" class="easyui-tabs"  style="width:100%;height:100%;" >
					<div title="状态" style="padding:10px">
						<div id="main" style="width: 30%;height:30%;float:left;"></div>
						<div id="container" style="width:30%; height:30%;float:left;"></div>
						<div id="pie2" style="width:30%; height:30%;float:left;"></div>
						<script type="text/javascript">
							// 基于准备好的dom，初始化echarts实例
							$(function () {
								var myChart1 = echarts.init(document.getElementById('main'));
								// 指定图表的配置项和数据
								myChart1.setOption({
									title: {
										text: '状态统计'
									},
									tooltip: {},
									legend: {
										data:['数量']
									},
									xAxis: {
										data: []
									},
									yAxis: {},
									series: [{
										name: '数量',
										type: 'bar',
										data: []
									}]
								});

								var myChart2 = echarts.init(document.getElementById('pie2'));
								myChart2.setOption({
									title : {
										text: '服务器状态',
										subtext: '纯属虚构',
										x:'center'
									},
									tooltip : {
										trigger: 'item',
										formatter: "{a} <br/>{b} : {c} ({d}%)"
									},
									legend: {
										orient: 'vertical',
										left: 'left',
										data: []
									},
									series : [
										{
											name: '服务器状态',
											type: 'pie',
											radius : '55%',
											center: ['50%', '60%'],
											data:[],
											itemStyle: {
												emphasis: {
													shadowBlur: 10,
													shadowOffsetX: 0,
													shadowColor: 'rgba(0, 0, 0, 0.5)'
												}
											}
										}
									]
								});
								var myChart3 = echarts.init(document.getElementById('container'));
								myChart3.setOption( {
									title: {
										x: 'center',
										text: '资产数量统计',
										subtext: '纯属虚构',
										link: 'https://buy.wosign.com'
									},
									tooltip: {
										trigger: 'item'
									},
									toolbox: {
										show: true,
										feature: {
											dataView: {show: false, readOnly: false},
											restore: {show: false},
											saveAsImage: {show: true}
										}
									},
									calculable: true,
									grid: {
										borderWidth: 0,
										y: 80,
										y2: 60
									},
									xAxis: [
										{
											type: 'category',
											show: false,
											data: []
										}
									],
									yAxis: [
										{
											type: 'value',
											show: false
										}
									],
									series: [
										{
											name: '资产数量统计',
											type: 'bar',
											itemStyle: {
												normal: {
													color: function(params) {
														// build a color map as your need.
														var colorList = [
														  '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
														   '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
														   '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
														];
														return colorList[params.dataIndex]
													},
													label: {
														show: true,
														position: 'top',
														formatter: '{b}\n{c}'
													}
												}
											},
											data: [],

										}
									]
								});

								$.get('{% url 'main'  %}?format=json').done(function (data){
									//alert(data.items);
									//alert(data.values);
									myChart2.setOption({
										legend: {
											data:data.items
										},
										series: [{
											name: '服务器状态',
											data:data.values
										}]
									});
									myChart1.setOption({
										xAxis: {
											data:data.items
										},
										series: [{
											name: '数量',
											data:data.values
										}]
									});
									myChart3.setOption({
										xAxis: {
											data:data.items
										},
										series: [{
											name: '资产数量统计',
											data:data.values
										}]
									});
								});
							});

					</script>
					</div>
				</div>
			</div>

		</div>

    </div>
<script Language=JavaScript>
function addTab(title,url){
	if ($('#tt').tabs('exists', title)){
		$('#tt').tabs('select', title);
	} else {

		var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;" ></iframe>';

		$('#tt').tabs('add',{
			title:title,
			content:content,
			closable:true
		});
	};
};
</script>
</body>
</html>