<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全运维部管理终端</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/icon.css' %}">
	<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.easyui.min.js' %}"></script>

</head>
<body>
		<table id="dg"></table>
		<div id="toolbar">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newobj()">New</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editobj()">Edit</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyobj()">Remove</a>
			{% block extendtool %}
			{% endblock%}

		</div>
		<div style="margin:20px 0;"></div>
		<div id="dlg" class="easyui-dialog" style="height:400px;width:100%;max-width:400px;padding:10px 40px 20px 40px;"
				closed="true" buttons="#dlg-buttons">
		</div>
		<div id="his" class="easyui-dialog" style="width:60%;height:400px;"
			 data-options="title:'历史记录',resizable:true,closed:true"
				 >
			<table id="hisdg">
				
			</table>
		</div>
		<div id="dlg-buttons">
			<!--
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">Clear</a>
			-->

			<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveobj()">Save</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>

		</div>
		<div>
			{{ form.mtype.value }}
		</div>
		{% block search %}
		{% endblock %}
{% block getlist %}
{% endblock %}
{% include 'script/operition.html' %}
<script type="text/javascript">
    function myformatter(date){
        var y = date.getFullYear();
        var m = date.getMonth()+1;
        var d = date.getDate();
        return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
    }
    function myparser(s){
        if (!s) return new Date();
        var ss = (s.split('-'));
        var y = parseInt(ss[0],10);
        var m = parseInt(ss[1],10);
        var d = parseInt(ss[2],10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)){
            return new Date(y,m-1,d);
        } else {
            return new Date();
        }
    }
</script>
</body>
</html>