<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安全运维部管理终端</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/easyui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/icon.css' %}">
	<script type="text/javascript" src="{% static '/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static '/js/jquery.easyui.min.js' %}"></script>

</head>
<body>
	<h2>CheckBox Tree</h2>
	<p>Tree nodes with check boxes.</p>
	<div style="margin:20px 0;">
		<a href="#" class="easyui-linkbutton" onclick="getCheckeds()">GetChecked</a>
	</div>
	<div class="easyui-panel" style="padding:5px">
		<ul id="tt" class="easyui-tree" data-options="
		url:'{% url 'emailcheckt' %}',
		method:'get',
		animate:true,
		checkbox:true,
		onlyLeafCheck:true,
		formatter:function(node){
						var s = node.text;
						if (node.children){
							s += '&nbsp;<span style=\'color:blue\'>(' + node.children.length + ')</span>';
						}
						return s;
					},
		loadFilter:function(data){
		                //alert(JSON.stringify(data));
                        //return '['+JSON.stringify(data)+']';
                        return data
		            },
        ">
        </ul>
	</div>
	<script type="text/javascript">
		function getCheckeds(){
			var nodes = $('#tt').tree('getChecked');
			var s = '';
			for(var i=0; i<nodes.length; i++){
				if (s != '') s += ',';
				s += nodes[i].text;
			}
			alert(s);
		}
	</script>
</body>
</html>