{% extends 'polls/form/checkbase.html' %}
{%  block custom_field %}
    <tr>
        <td td colspan="3" style="width:100%;">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="chosestaff()">从员工列表中选择</a>
        </td>
    </tr>
    <tr>
        <td colspan=2 style="width:100%;float:left" >
            <textarea id="{{ form.staffipadderss.id_for_label }}" class="easyui-textbox" multiline="true" name="{{ form.staffipadderss.html_name }}" value="" style="width:100%;height:80px;"></textarea>
        </td>
    </tr>
{% endblock %}
{% block treeurl %}
    url:'{% url 'iptree' %}',
{% endblock %}
{% block textboxvalue %}
    $("textarea#{{ form.staffipadderss.id_for_label }}").textbox('setValue',s);
{% endblock %}