django >=1.11.0
celery>=4.0
celery[redis]
mysqlclient
django-reversion
python_dateutil == 2.6.0
pandas
django-pandas == 0.4.3
django-simple-serializer
djangorestframework
#gevent
#gevent-websocket
#paramiko
#tornado
#kerberos